<div class="homepage w-75  m-auto d-flex flex-column  justify-content-center align-items-center">


    <div class="title text-center">
     <h2> Welcome to Movie Recommendation System</h2>  
    </div>

    <div class="row mt-5 w-100">
            <div class="col-md-6">
                <div class="user-box "  routerLink="/user">
                    <a routerLink="/user" class="user-link">User </a>
                  </div>
            </div>
            <div class="col-md-6" >
                    <div class="user-box " routerLink="/movie">
                        <a routerLink="/movie" class="user-link">Movie </a>
                      </div>
            
            </div>
    </div>

</div>